{%extends 'common/base.html'%} {% block CSS %}
<style>
  .main-body-container {
    width: 800px;
    height: 100%;
    margin-right: 300px;
  }
  .main-body-box {
    border: solid 1px grey;
    background-color: rgba(240, 249, 254, 1);
    margin-bottom: 20px;
  }
  .square {
    width: 100%;
    position: relative;
    border: 1px solid grey;
  }
  .material-symbols-outlined {
    display: block;
    padding: 30%;
  }
  .nav-link {
    text-decoration: none;
    color: inherit;
  }
</style>

{% endblock %} {% block BODY %}
<div class="main-body-container">
  {% comment %} 용도변경 {% endcomment %}
  <div class="main-body-box">
    <div style="margin: 30px">
      <!--네비게이션 탭-->
      <ul class="nav nav-tabs" style="margin-bottom: 10px">
        <div id="nav-add-position" style="display: flex; flex-direction: row">
          <li class="nav-item">
            <button class="nav-link active" aria-current="page" id="nav-btn-1">
              1페이지
            </button>
          </li>
        </div>

        <li class="nav-item">
          <button class="nav-link" id="nav-add">사진 추가</button>
        </li>
      </ul>

      <!--사진 입력-->
      <div id="page-1" style="display: flex; flex-direction: column">
        <div class="container text-center">
          <div class="row">
            <div class="row">
              <div class="col">
                <div class="square">
                  <div class="material-symbols-outlined" name="picture-1">
                    add_box
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="square">
                  <div class="material-symbols-outlined" name="picture-2">
                    add_box
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >1번 사진</span
                  >
                  <input
                    name="input-1"
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    placeholder="내용을 입력하세요"
                    value=""
                  />
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >2번 사진</span
                  >
                  <input
                    name="input-2"
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    placeholder="내용을 입력하세요"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="row">
              <div class="col">
                <div class="square">
                  <div class="material-symbols-outlined" name="picture-3">
                    add_box
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="square">
                  <div class="material-symbols-outlined" name="picture-4">
                    add_box
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >3번 사진</span
                  >
                  <input
                    name="input-3"
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    placeholder="내용을 입력하세요"
                  />
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >4번 사진</span
                  >
                  <input
                    name="input-4"
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    placeholder="내용을 입력하세요"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="row">
              <div class="col">
                <div class="square">
                  <div class="material-symbols-outlined" name="picture-5">
                    add_box
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="square">
                  <div class="material-symbols-outlined" name="picture-6">
                    add_box
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >5번 사진</span
                  >
                  <input
                    name="input-5"
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    placeholder="내용을 입력하세요"
                  />
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >6번 사진</span
                  >
                  <input
                    name="input-6"
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    placeholder="내용을 입력하세요"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <button
          class="btn btn-primary"
          type="button"
          style="display: flex; margin-top: 15px"
        >
          등록
        </button>
      </div>

      <!--사진 입력-->
      <div id="page-2" style="display: none; flex-direction: column">
        <div class="container text-center">
          <div class="row">
            <div class="row">
              <div class="col">
                <div class="square">
                  <div class="material-symbols-outlined" name="picture-7">
                    add_box
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="square">
                  <div class="material-symbols-outlined" name="picture-8">
                    add_box
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >7번 사진</span
                  >
                  <input
                    name="input-7"
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    placeholder="내용을 입력하세요"
                    value=""
                  />
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >8번 사진</span
                  >
                  <input
                    name="input-8"
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    placeholder="내용을 입력하세요"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="row">
              <div class="col">
                <div class="square">
                  <div class="material-symbols-outlined" name="picture-9">
                    add_box
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="square">
                  <div class="material-symbols-outlined" name="picture-10">
                    add_box
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >9번 사진</span
                  >
                  <input
                    name="input-9"
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    placeholder="내용을 입력하세요"
                  />
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >10번 사진</span
                  >
                  <input
                    name="input-10"
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    placeholder="내용을 입력하세요"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="row">
              <div class="col">
                <div class="square">
                  <div class="material-symbols-outlined" name="picture-11">
                    add_box
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="square">
                  <div class="material-symbols-outlined" name="picture-12">
                    add_box
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >11번 사진</span
                  >
                  <input
                    name="input-11"
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    placeholder="내용을 입력하세요"
                  />
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >12번 사진</span
                  >
                  <input
                    name="input-12"
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    placeholder="내용을 입력하세요"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <button
          class="btn btn-primary"
          type="button"
          style="display: flex; margin-top: 15px"
        >
          등록
        </button>
      </div>

      <!--사진 입력-->
      <div id="page-3" style="display: none; flex-direction: column">
        <div class="container text-center">
          <div class="row">
            <div class="row">
              <div class="col">
                <div class="square">
                  <div class="material-symbols-outlined" name="picture-13">
                    add_box
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="square">
                  <div class="material-symbols-outlined" name="picture-14">
                    add_box
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >13번 사진</span
                  >
                  <input
                    name="input-13"
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    placeholder="내용을 입력하세요"
                    value=""
                  />
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >14번 사진</span
                  >
                  <input
                    name="input-14"
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    placeholder="내용을 입력하세요"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="row">
              <div class="col">
                <div class="square">
                  <div class="material-symbols-outlined" name="picture-15">
                    add_box
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="square">
                  <div class="material-symbols-outlined" name="picture-16">
                    add_box
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >15번 사진</span
                  >
                  <input
                    name="input-15"
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    placeholder="내용을 입력하세요"
                  />
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >16번 사진</span
                  >
                  <input
                    name="input-16"
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    placeholder="내용을 입력하세요"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="row">
              <div class="col">
                <div class="square">
                  <div class="material-symbols-outlined" name="picture-17">
                    add_box
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="square">
                  <div class="material-symbols-outlined" name="picture-18">
                    add_box
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >17번 사진</span
                  >
                  <input
                    name="input-17"
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    placeholder="내용을 입력하세요"
                  />
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >18번 사진</span
                  >
                  <input
                    name="input-18"
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    placeholder="내용을 입력하세요"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <button
          class="btn btn-primary"
          type="button"
          style="display: flex; margin-top: 15px"
        >
          등록
        </button>
      </div>

      <!--저장버튼-->
      <div style="margin:30px 0">
        <button type="button" class="btn btn-primary btn-lg" id="save">
          SAVE
        </button>
        <button type="button" class="btn btn-secondary btn-lg">
          GENERATE
        </button>
      </div>
    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.6.4.js"
  integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
  crossorigin="anonymous"
></script>

<script>
  $.ajaxSetup({
    headers: { "X-CSRFToken": "{{csrf_token}}" },
  });
</script>

<script type="text/javascript" src="/static/picture.js"></script>

{% endblock %}
