{%extends 'main/base.html'%} {% block CSS %}

<!-- date picker css -->
<link
  rel="stylesheet"
  href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css"
/>

<style>

</style>

{% endblock %} {% block BODY %}

<div class="body-content">
  <div class="body-content-box">
    <div class="body-content-box-label">
      <h5>계약정보</h5>
    </div>

    <div class="container text-center">
      <!--용역명-->
      <div class="row">
        <div class="col">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="contract_name"
              placeholder="name@example.com"
              value="{{contract.contract_name}}"
            />
            <label for="contract_name">용역명</label>
          </div>
        </div>
        <!--공동수급 계약방법-->
        <div class="row">
          <div class="col-6">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="contract_joint"
                placeholder="name@example.com"
                value="{{contract.contract_joint}}"
              />
              <label for="contract_joint">공동수급</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="contract_method"
                placeholder="name@example.com"
                value="{{contract.contract_method}}"
              />
              <label for="contract_method">계약방법</label>
            </div>
          </div>
        </div>
        <!--관리주체 계약금액-->
        <div class="row">
          <div class="col-6">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="contract_agency"
                placeholder="name@example.com"
                value="{{contract.contract_agency}}"
              />
              <label for="contract_agency">관리주체</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="contract_money"
                placeholder="name@example.com"
                value="{{contract.contract_money}}"
              />
              <label for="contract_money">계약금액</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!--시설물 정보-->
    <div class="body-content-box">
      <div class="body-content-box-label">
        <h5>시설물 정보</h5>
      </div>

      <div class="container text-center">
        <!--주소-->
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="facility_address"
                placeholder="name@example.com"
                value="{{facility.facility_address}}"
              />
              <label for="facility_address">주소</label>
            </div>
          </div>
        </div>
        <!--면적-->
        <div class="row">
          <div class="col-4">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="facility_width_land"
                placeholder="name@example.com"
                value="{{facility.facility_width_land}}"
              />
              <label for="contract_width_land">대지면적</label>
            </div>
          </div>
          <div class="col-4">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="facility_width_building"
                placeholder="name@example.com"
                value="{{facility.facility_width_building}}"
              />
              <label for="facility_width_building">건축면적</label>
            </div>
          </div>
          <div class="col-4">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="facility_width_gross"
                placeholder="name@example.com"
                value="{{facility.facility_width_gross}}"
              />
              <label for="facility_width_gross">연면적</label>
            </div>
          </div>
        </div>
        <!--구조형식-->
        <div class="row">
          <div class="col-5">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="facility_structure"
                placeholder="name@example.com"
                value="{{facility.facility_structure}}"
              />
              <label for="facility_structure">구조형식</label>
            </div>
          </div>
          <div class="col-5">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="facility_floor"
                placeholder="name@example.com"
                value="{{facility.facility_floor}}"
              />
              <label for="facility_floor">동수(층수)</label>
            </div>
          </div>
          <div class="col-2"></div>
        </div>
      </div>

      <div class="body-content-box-label">
        <h5>종별</h5>
      </div>

      <div class="container text-center">
        <!--시설물 종류-->
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="facility_spec"
                placeholder="name@example.com"
                value="{{facility.facility_spec}}"
              />
              <label for="facility_specd">시설물 종류</label>
            </div>
          </div>
        </div>
        <!--종별-->
        <div class="row">
          <div class="col-3">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="facility_class"
                placeholder="name@example.com"
                value="{{facility.facility_class}}"
              />
              <label for="facility_class">종별</label>
            </div>
          </div>
          <div class="col-3">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="facility_category"
                placeholder="name@example.com"
                value="{{facility.facility_category}}"
              />
              <label for="facility_category">구분</label>
            </div>
          </div>
          <div class="col-3">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="facility_usage"
                placeholder="name@example.com"
                value="{{facility.facility_usage}}"
              />
              <label for="facility_usage">용도</label>
            </div>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
      <div class="body-content-box-label">
        <h5>시공정보</h5>
      </div>
      <div class="container text-center">
        <!--설계감리시공-->
        <div class="row">
          <div class="col-4">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="facility_architect"
                placeholder="name@example.com"
                value="{{facility.facility_architect}}"
              />
              <label for="facility_architect">설계자</label>
            </div>
          </div>
          <div class="col-4">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="facility_supervisor"
                placeholder="name@example.com"
                value="{{facility.facility_supervisor}}"
              />
              <label for="facility_supervisor">감리자</label>
            </div>
          </div>
          <div class="col-4">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="facility_builder"
                placeholder="name@example.com"
                value="{{facility.facility_builder}}"
              />
              <label for="facility_builder">시공자</label>
            </div>
          </div>
        </div>
        <!--날짜-->
        <div class="row">
          <div class="col-3">
            <div class="form-floating mb-3">
              {% if facility.facility_constructStartAt %}
              <input
                type="text"
                class="form-control"
                id="facility_constructStartAt"
                placeholder="name@example.com"
                value="{{facility.facility_constructStartAt|date:'Y-m-d'}}"
              />
              {% else %}
              <input
                type="text"
                class="form-control"
                id="facility_constructStartAt"
                placeholder="name@example.com"
                value=""
              />
              {% endif %}
              <label for="facility_constructStartAt">건설기간(시작일)</label>
            </div>
          </div>
          <div class="col-3">
            <div class="form-floating mb-3">
              {% if facility.facility_constructEndAt %}
              <input
                type="text"
                class="form-control"
                id="facility_constructEndAt"
                placeholder="name@example.com"
                value="{{facility.facility_constructEndAt|date:'Y-m-d'}}"
              />
              {% else %}
              <input
                type="text"
                class="form-control"
                id="facility_constructEndAt"
                placeholder="name@example.com"
                value=""
              />
              {% endif %}
              <label for="facility_constructEndAt">건설기간(종료일)</label>
            </div>
          </div>
          <div class="col-3">
            <div class="form-floating mb-3">
              {% if facility.facility_buildingDate %}
              <input
                type="text"
                class="form-control"
                id="facility_buildingDate"
                placeholder="name@example.com"
                value="{{facility.facility_buildingDate|date:'Y-m-d'}}"
              />
              {% else %}
              <input
                type="text"
                class="form-control"
                id="facility_buildingDate"
                placeholder="name@example.com"
                value=""
              />
              {% endif %}
              <label for="facility_buildingDate">사용승인일</label>
            </div>
          </div>
          <div class="col-3">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="facility_old"
                placeholder="name@example.com"
                value="{{facility.facility_old}}"
                data-id="facility_old"
              />
              <label for="facility_old">준공후 경과년수</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--버튼 그룹-->
    <div class="body-content-box">
      <button type="button" class="btn btn-primary btn-lg" id="save_button">
        저장하기
      </button>
      <button type="button" class="btn btn-secondary btn-lg">생성하기</button>
    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.6.4.js"
  integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
  crossorigin="anonymous"
></script>

<!--date picker js-->
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<script>
  $.ajaxSetup({
    headers: { "X-CSRFToken": "{{csrf_token}}" },
  });

  $("#facility_buildingDate").on('change', (e) => {
    let startAt = $(e.target).val();
    console.log(startAt)
    const startAtNo = Number(startAt.toString().split('-')[0])
    console.log(startAtNo)

    let basic_startAt = "{{ basic.basic_startAt|date:'Y-m-d' }}"
    console.log(basic_startAt)
    const basic_startAtNo = Number(basic_startAt.toString().split('-')[0])
    console.log(basic_startAtNo)

    const facility_old = '약 ' + (basic_startAtNo - startAtNo ).toString()+'년'

    $("input[data-id=facility_old]").attr("value", facility_old)
  })

  let fd = new FormData()
  $("#save_button").on("click", () => {
    const basic_id={{ basic.id }}

    // foreinKey
    fd.append('basic_id', basic_id)

    // 계약정보   
    fd.append('contract_name', $("#contract_name").val())
    fd.append('contract_joint', $("#contract_joint").val())
    fd.append('contract_method', $("#contract_method").val())
    fd.append('contract_agency', $("#contract_agency").val())
    fd.append('contract_money', $("#contract_money").val())

    // 시설물 정보
    fd.append('facility_address', $("#facility_address").val())
    fd.append('facility_width_land', $("#facility_width_land").val())
    fd.append('facility_width_building', $("#facility_width_building").val())
    fd.append('facility_width_gross', $("#facility_width_gross").val())
    fd.append('facility_structure', $("#facility_structure").val())
    fd.append('facility_floor', $("#facility_floor").val())

    // 종별
    fd.append('facility_spec', $("#facility_spec").val())
    fd.append('facility_class', $("#facility_class").val())
    fd.append('facility_category', $("#facility_category").val())
    fd.append('facility_usage', $("#facility_usage").val())

    // 시공정보
    fd.append('facility_architect', $("#facility_architect").val())
    fd.append('facility_supervisor', $("#facility_supervisor").val())
    fd.append('facility_builder', $("#facility_builder").val())
    fd.append('facility_constructStartAt', $("#facility_constructStartAt").val())
    fd.append('facility_constructEndAt', $("#facility_constructEndAt").val())
    fd.append('facility_buildingDate', $("#facility_buildingDate").val())
    fd.append('facility_old', $("#facility_old").val())

    $.ajax({
      url: "/main/"+basic_id.toString()+"/common/",
      data: fd,
      method: "POST",
      processData: false,
      contentType: false,
      success: (response) => {
        console.log("성공");
        // 서버 응답 데이터에서 리디렉션 URL 추출
        var redirectUrl = response.redirect_url;
        console.log(redirectUrl)
        // 리디렉션 수행
        window.location.href = redirectUrl;
      },
      error: (req, status, err) => {
        console.log(err);
      },
      complete: () => {
        console.log("완료");
      }
    })
  })

  $(function () {
    $("#facility_constructStartAt").datepicker({
      dateFormat: "yy-mm-dd",
      monthNames: [
        "1월",
        "2월",
        "3월",
        "4월",
        "5월",
        "6월",
        "7월",
        "8월",
        "9월",
        "10월",
        "11월",
        "12월",
      ],
    });
  });

  $(function () {
    $("#facility_constructEndAt").datepicker({
      dateFormat: "yy-mm-dd",
      monthNames: [
        "1월",
        "2월",
        "3월",
        "4월",
        "5월",
        "6월",
        "7월",
        "8월",
        "9월",
        "10월",
        "11월",
        "12월",
      ],
    });
  });

  $(function () {
    $("#facility_buildingDate").datepicker({
      dateFormat: "yy-mm-dd",
      monthNames: [
        "1월",
        "2월",
        "3월",
        "4월",
        "5월",
        "6월",
        "7월",
        "8월",
        "9월",
        "10월",
        "11월",
        "12월",
      ],
    });
  });
</script>

{% endblock %}
