{%extends 'main/base.html'%} {% block CSS %}

<!-- date picker css -->
<link
  rel="stylesheet"
  href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css"
/>
{% comment %} <link rel="stylesheet" href="/resources/demos/style.css" />
{% endcomment %}

<style>
  div.table {
    display: flex;
    flex-direction: column;
  }
  div.table > :not(caption) > * > * {
    padding: 0;
  }

  .input-in-grid {
    display: block;
    width: 100%;
    border: none;
    margin: 0;
    border: dotted 1px grey;
    padding: 5px;
  }

  .file-input-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .file-ready-indicator {
    display: none;
    flex-direction: row;
    justify-content: space-between;
  }
  .spinner-border {
    display: none;
  }

  p.grid-text {
    margin: 0 auto;
  }


</style>

{% endblock %} {% block BODY %}

<div class="body-content">
  <!--기본정보-->
  <div class="body-content-box">
    <div
      class="body-content-box-label"
      style="display: flex; flex-direction: row; justify-content: space-between"
    >
      <h5>기본정보</h5>
      <input id="appear_button" type="submit" value="수정하기" />
    </div>

    <div id="hidden_or_appear" style="display: none">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="basic_name"
          placeholder="name@example.com"
          value="{{basic.basic_name}}"
        />
        <label for="basic_name">건축물명</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="basic_startAt"
          placeholder="name@example.com"
          value="{{basic.basic_startAt|date:'Y-m-d'}}"
        />
        <!-- DateTimePicker 위젯를 적용하기 위한 TextBox를 선언한다. -->

        <label for="basic_startAt">시작일</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="basic_endAt"
          placeholder="name@example.com"
          value="{{basic.basic_endAt|date:'Y-m-d'}}"
        />
        <label for="basic_endAt">종료일</label>
      </div>
    </div>
  </div>

  <!--계약정보-->
  <div class="body-content-box">
    <div class="body-content-box-label">
      <h5>계약정보</h5>
    </div>

    <div class="container text-center">
      <!--용역명-->
      <div class="row">
        <div class="col">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="contract_name"
              placeholder="name@example.com"
              value="{{contract.contract_name}}"
            />
            <label for="contract_name">용역명</label>
          </div>
        </div>
      </div>
      <!--공동수급, 계약방법-->
      <div class="row">
        <div class="col-6">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="contract_joint"
              placeholder="name@example.com"
              value="{{contract.contract_joint}}"
            />
            <label for="contract_joint">공동수급</label>
          </div>
        </div>
        <div class="col-6">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="contract_method"
              placeholder="name@example.com"
              value="{{contract.contract_method}}"
            />
            <label for="contract_method">계약방법</label>
          </div>
        </div>
      </div>
      <!--관리주체, 계약금액-->
      <div class="row">
        <div class="col-6">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="contract_agency"
              placeholder="name@example.com"
              value="{{contract.contract_agency}}"
            />
            <label for="contract_agency">관리주체</label>
          </div>
        </div>
        <div class="col-6">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="contract_money"
              placeholder="name@example.com"
              value="{{contract.contract_money}}"
            />
            <label for="contract_money">계약금액</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--파일입력-->
  <!--
  <div class="body-content-box">
    <div class="body-content-box-label">
      <h5>파일 입력</h5>
    </div>
    <div class="container text-center">
      <div class="row">
        
        <div class="col-2">
          <div class="file-input-label">
            <span></span>
            <p class="grid-text">시설물 대장(PDF)</p>
          </div>
        </div>
        <div class="col-7">
          <div class="input-group">
            <input
              type="file"
              class="form-control"
              id="file_name_BML"
              aria-describedby="inputGroupFileAddon04"
              aria-label="Upload"
            />
            <button
              class="btn btn-outline-success"
              type="button"
              id="file_name_BML_btn"
            >
            자료준비
            </button>
          </div>
        </div>
        
        <div class="col-3">
          <div class="file-ready-indicator" id="file_name_BML_label">
            <p class="grid-text" id="file_name_BML_ready" value="">준비중...</p>
            <div class="spinner-border text-primary" role="status" id="file_name_BML_spinner">
              <span class="visually-hidden">Loading...</span>
            </div>
            <span></span>
          </div>
        </div>
      </div>

      <div class="row">
        
        <div class="col-2">
          <div class="file-input-label">
            <span></span>
            <p class="grid-text">건축물 대장(PDF)</p>
          </div>
        </div>
        <div class="col-7">
          <div class="input-group">
            <input
            type="file"
            class="form-control"
            id="file_name_FML"
            aria-describedby="inputGroupFileAddon04"
            aria-label="Upload"
          />
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="file_name_FML_btn"
          >자료준비
            </button>
          </div>
        </div>
        
        <div class="col-3">
          <div class="file-ready-indicator" id="file_name_FML_label">
            <p class="grid-text" id="file_name_FML_ready" value="">준비중...</p>
            <div class="spinner-border text-primary" role="status" id="file_name_FML_spinner">
              <span class="visually-hidden">Loading...</span>
            </div>
            <span></span>
          </div>
        </div>
      </div>

      <div class="row">
        
        <div class="col-2">
          <div class="file-input-label">
            <span></span>
            <p class="grid-text">결함표 파일(Excel)</p>
          </div>
        </div>
        <div class="col-7">

          <div class="input-group">
            <input
            type="file"
            class="form-control"
            id="file_name_EXCEL"
            aria-describedby="inputGroupFileAddon04"
            aria-label="Upload"
          />
          <button
            class="btn btn-outline-secondary"
            type="submit"
            id="file_name_EXCEL_btn"
          >
          자료준비</button>
          </div>
        </div>
        
        <div class="col-3">
          <div class="file-ready-indicator" id="file_name_EXCEL_label">
            <p class="grid-text" id="file_name_EXCEL_ready" value="">준비중...</p>
            <div class="spinner-border text-primary" role="status" id="file_name_EXCEL_spinner">
              <span class="visually-hidden">Loading...</span>
            </div>
            <span></span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <div class="file-input-label">
            <span></span>
            <p class="grid-text">도면(ppt)</p>
          </div>
        </div>
        <div class="col-7">
          <div class="input-group">
            <input
            type="file"
            class="form-control"
            id="file_name_DWG"
            aria-describedby="inputGroupFileAddon04"
            aria-label="Upload"
          />
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="file_name_DWG_btn"
          >자료준비
            </button>
          </div>
        </div>
        
        <div class="col-3">
          <div class="file-ready-indicator" id="file_name_DWG_label">
            <p class="grid-text" id="file_name_DWG_ready" value="">준비중...</p>
            <div class="spinner-border text-primary" role="status" id="file_name_DWG_spinner">
              <span class="visually-hidden">Loading...</span>
            </div>
            <span></span>
          </div>
        </div>
      </div>
    </div>  
  </div>
  -->

  <div class="body-content-box">
    <div
      class="body-content-box-label"
      style="display: flex; flex-direction: row; justify-content: space-between"
    >
      <h5>파일 업로드</h5>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="width:16%">파일</th>
          <th scope="col" style="width:60%">파일입력</th>
          <th scope="col" colspan="2">상태</th>
          <th scope="col" style="width:10%"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">시설물 대장 (PDF)</th>
          <td>
            <div class="input-group">
              <input
                type="file"
                class="form-control"
                id="file_name_BML"
                aria-describedby="inputGroupFileAddon04"
                aria-label="Upload"
              />
              <button
                class="btn btn-outline-primary"
                type="button"
                id="file_name_BML_btn"
              >
              업로드
              </button>
            </div>
          </td>
          <td>
            <div class="file-ready-indicator" id="file_name_BML_label">
              <p class="grid-text" id="file_name_BML_ready" value="">준비중...</p>
            </div>
          </td>
          <td>
            <div class="spinner-border text-primary" role="status" id="file_name_BML_spinner">
              <span class="visually-hidden">Loading...</span>
            </div>
          </td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">건축물 대장 (PDF)</th>
          <td>
            <div class="input-group">
              <input
              type="file"
              class="form-control"
              id="file_name_FML"
              aria-describedby="inputGroupFileAddon04"
              aria-label="Upload"
              />
              <button
                class="btn btn-outline-primary"
                type="button"
                id="file_name_FML_btn"
                >업로드
              </button>
            </div>
          </td>
          <td>
            <div class="file-ready-indicator" id="file_name_FML_label">
              <p class="grid-text" id="file_name_FML_ready" value="">준비중...</p>
            </div>
          </td>
          <td>
            <div class="spinner-border text-primary" role="status" id="file_name_FML_spinner">
              <span class="visually-hidden">Loading...</span>
            </div>
          </td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">결함표 (EXCEL)</th>
          <td>
            <div class="input-group">
              <input
              type="file"
              class="form-control"
              id="file_name_EXCEL"
              aria-describedby="inputGroupFileAddon04"
              aria-label="Upload"
            />
            <button
              class="btn btn-outline-primary"
              type="submit"
              id="file_name_EXCEL_btn"
            >
            업로드</button>
            </div>
          </td>
          <td>
            <div class="file-ready-indicator" id="file_name_EXCEL_label">
              <p class="grid-text" id="file_name_EXCEL_ready" value="">준비중...</p>
            </div>
          </td>
          <td>
            <div class="spinner-border text-primary" role="status" id="file_name_EXCEL_spinner">
              <span class="visually-hidden">Loading...</span>
            </div>
          </td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">도면 (PPT)</th>
          <td>
            <div class="input-group">
              <input
              type="file"
              class="form-control"
              id="file_name_DWG"
              aria-describedby="inputGroupFileAddon04"
              aria-label="Upload"
              />
              <button
                class="btn btn-outline-primary"
                type="button"
                id="file_name_DWG_btn"
              >업로드
              </button>
            </div>
          </td>
          <td>
            <div class="file-ready-indicator" id="file_name_DWG_label">
              <p class="grid-text" id="file_name_DWG_ready" value="">준비중...</p>
            </div>
          </td>
          <td>
            <div class="spinner-border text-primary" role="status" id="file_name_DWG_spinner">
              <span class="visually-hidden">Loading...</span>
            </div>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  



  <!--참여기술진-->
  <div class="body-content-box">
    <div class="body-content-box-label">
      <h5>참여 기술진</h5>
    </div>
    <div class="table">
      <div class="container text-center" style="border: solid 1px grey">
        <div class="row">
          <div class="col"><div class="input-in-grid">구분</div></div>
          <div class="col"><div class="input-in-grid">성명</div></div>
          <div class="col"><div class="input-in-grid">자격</div></div>
          <div class="col"><div class="input-in-grid">참여기간</div></div>
          <div class="col"><div class="input-in-grid">참여현황</div></div>
          <div class="col"><div class="input-in-grid">비고</div></div>
        </div>
        <!-- 입력 -->
        {% for i in worker %}
        <div class="row">
          <div class="col" style="padding: 0px">
            <input
              class="input-in-grid"
              type="text"
              name="{{forloop.counter}}-1"
              value="{{i.worker_role}}"
            />
          </div>
          <div class="col" style="padding: 0px">
            <input
              class="input-in-grid"
              type="text"
              name="{{forloop.counter}}-2"
              value="{{i.worker_name}}"
            />
          </div>
          <div class="col" style="padding: 0px">
            <input
              class="input-in-grid"
              type="text"
              name="{{forloop.counter}}-3"
              value="{{i.worker_class}}"
            />
          </div>
          <div class="col" style="padding: 0px">
            <input
              class="input-in-grid"
              type="text"
              name="{{forloop.counter}}-4"
              data-id="worker_period"
              value="{{i.worker_period}}"
            />
          </div>
          <div class="col" style="padding: 0px">
            <input
              class="input-in-grid"
              type="text"
              name="{{forloop.counter}}-5"
              value="{{i.worker_job}}"
            />
          </div>
          <div class="col" style="padding: 0px">
            <input
              class="input-in-grid"
              type="text"
              name="{{forloop.counter}}-6"
              value="{{i.worker_note}}"
            />
          </div>
        </div>
        {% empty %}
        <div class="row">
          <div class="col" style="padding: 0px">
            <input
              class="input-in-grid"
              type="text"
              name="1-1"
              value="책임기술자"
            />
          </div>
          <div class="col" style="padding: 0px">
            <input class="input-in-grid" type="text" name="1-2" value="" />
          </div>
          <div class="col" style="padding: 0px">
            <input class="input-in-grid" type="text" name="1-3" value="" />
          </div>
          <div class="col" style="padding: 0px">
            <input
              class="input-in-grid"
              type="text"
              name="1-4"
              data-id="worker_period"
              value=""
            />
          </div>
          <div class="col" style="padding: 0px">
            <input
              class="input-in-grid"
              type="text"
              name="1-5"
              value="보고서 검토 및 현장책임"
            />
          </div>
          <div class="col" style="padding: 0px">
            <input class="input-in-grid" type="text" name="1-6" value="" />
          </div>
        </div>
        {%endfor%}
        <div id="worker-appendrow"></div>
        <span id="worker-appendrow-button" class="material-symbols-outlined">
          add
        </span>
      </div>
    </div>
  </div>

  <!--버튼-->
  <div class="body-content-box">
    <button type="button" class="btn btn-primary btn-lg" id="save_button">
      저장하기
    </button>
    <button type="button" class="btn btn-secondary btn-lg" id="test_button">생성하기</button>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.6.4.js"
  integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
  crossorigin="anonymous"
></script>

<!--date picker js-->
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<script>
  /* 목차  
  로드기능은 장고에서 처리
  - 토큰
  - 전역변수
  - 파일처리
  - datepicker
  - 참여기술자
  - 요청
  */
  //===================== CSRF 토큰 ====================
  $.ajaxSetup({
    headers: { "X-CSRFToken": "{{csrf_token}}" },
  });

  //===================== 전역 변수 ====================
  const basic_id={{ basic.id }}
  let fd = new FormData()

  //===================== 테스트 generate 버튼 ====================
  $("#test_button").on("click", () => {
        // 참여기술자
        fd.append("worker-length", row.toString());
        for (let i = 1; i <= row; i++) {
          for (let j = 1; j <= 6; j++)
            fd.append(
              "worker-" + i.toString() + "-" + j.toString(),
              $("input[name=" + i.toString() + "-" + j.toString() + "]").val()
            );
        }
    
        $.ajax({
          url: "/main/"+basic_id.toString()+"/test/",
          data: fd,
          method: "POST",
          processData: false,
          contentType: false,
          success: (response) => {
            console.log("성공");
            // 서버 응답 데이터에서 리디렉션 URL 추출
            // var redirectUrl = response.redirect_url;
            // console.log(redirectUrl)
            // 리디렉션 수행
            // window.location.href = redirectUrl;
          },
          error: (req, status, err) => {
            console.log(err);
          },
          complete: () => {
            console.log("완료");
          },
        })
  })
  

  //===================== 파일 처리 ====================
  // 파일 업로드
  $(".input-group").on("change", ".form-control", (e) => {
    var filename = $(e.target).val().split('\\')[2]
    var idtag = $(e.target).attr("id")
    console.log(filename, idtag)
    fd.append(idtag, filename)
  })

  // 업로드 버튼
  $(".btn").on("click", (e) => {
    if ($(e.target).text().trim() === "업로드") {
      let idArr = $(e.target).attr("id").split('_')
      console.log(idArr)
      var fileType = idArr[2]
      var url = "upload"+fileType
      console.log(url)

      idArr.pop()
      var id = idArr.join('_')

      if (fd.has(id)) {
        var filename = fd.get(id)
        console.log(filename)
        UploadFile(url, filename, id)

        isFileReady(fileType, id)
      } else {
        alert('파일을 선택하세요.')
      }


    }
  })


  function UploadFile(url, fileName, id) {
    var filename = fd.get(id)
    fd.set('filename', filename)
    $.ajax({
      url: "/main/"+basic_id.toString()+"/"+url+"/",
      method: "POST",
      data: fd,
      processData: false,
      contentType: false,
      success: (response) => {
        console.log("성공");
      },
      error: (req, status, err) => {
        console.log(err);
      },
      complete: () => {
        console.log("완료");
      },
    })
    $("#"+id+"_label").css({display: "flex"})
    $("#"+id+"_spinner").css({display: "flex"})
  }


  // 파일 준비 알림
  let ready = false
  let timer;
  function isFileReady(fileType, id) {
    let counter = 0
    timer = setInterval(function(){
      var resultBool = false
      $.ajax({
        url: "/main/"+basic_id.toString()+"/"+fileType+"/fileReady/",
        method: "GET",
        processData: false,
        contentType: false,
        success: (response) => {
          console.log("성공");
          resultBool = response.resultBool;
          console.log(resultBool)
        },
        error: (req, status, err) => {
          console.log(err);
        },
        complete: () => {
          console.log("완료");
          if (resultBool) {
            const ready_text="준비 완료"
            $("#"+id+"_ready").text(ready_text);
            $("#"+id+"_spinner").css({display:"none"})
            clearInterval(timer)
          }
        },
      })
      counter++
      if (counter>10) {
        clearInterval(timer)
        console.log("time out")
      }
    },3000);
  }

  $(document).ready(
    // isFileReady()
  );



  // 기본정보 수정/감추기
  $("#appear_button").on("click", (e) => {
    if ($(e.target).attr("value")=="수정하기") {
      $("#hidden_or_appear").css({display : "block"})
      $(e.target).attr("value", "숨기기")
    } else {
      $("#hidden_or_appear").css({display : "none"})
      $(e.target).attr("value", "수정하기")
    }
  })

  //===================== datepicker ====================
  // 날짜
  $(function () {
    $("#basic_startAt").datepicker({
      dateFormat: "yy-mm-dd",
      monthNames: [ "1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월" ]
    });
  });

  $(function () {
    $("#basic_endAt").datepicker({
      dateFormat: "yy-mm-dd",
      monthNames: [ "1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월" ]
    });
  });

  //===================== 참여기술자 ====================
  // 참여기술자 날짜 자동 변경 : 로드시 & 데이터변경시
  let startAt = ""
  let endAt = ""

  $(document).ready(
    startAt = $("#basic_startAt").attr("value"),
    endAt = $("#basic_endAt").attr("value"),
    $("input[data-id=worker_period]").attr("value", startAt+" ~ "+endAt),
  );

  $("#basic_startAt").on('change', (e) => {
    startAt = $(e.target).val();
    $("input[data-id=worker_period]").attr("value", startAt+" ~ "+endAt)
  })

  $("#basic_endAt").on('change', (e) => {
    endAt = $(e.target).val();
    $("input[data-id=worker_period]").attr("value", startAt+" ~ "+endAt)
  })


  // 참여기술자
  {% if worker|length > 0 %}
  let row = {{worker|length}}
  {% else %}
  let row = 1;
  {% endif %}
  $("#worker-appendrow-button").on("click", () => {
    row++;
    $("#worker-appendrow").append(
      '<div class="row">' +
        '<div class="col" style="padding:0px"><input class="input-in-grid" type="text" name="' +
        row.toString() +
        '-1" value="참여기술자"></div>' +
        '<div class="col" style="padding:0px"><input class="input-in-grid" type="text" name="' +
        row.toString() +
        '-2"></div>' +
        '<div class="col" style="padding:0px"><input class="input-in-grid" type="text" name="' +
        row.toString() +
        '-3"></div>' +
        '<div class="col" style="padding:0px"><input class="input-in-grid" type="text" name="' +
        row.toString() +
        '-4" data-id="worker_period" value="'+startAt.toString()+' ~ '+endAt.toString()+'"></div>' +
        '<div class="col" style="padding:0px"><input class="input-in-grid" type="text" name="' +
        row.toString() +
        '-5" value="보고서 작성 및 현장조사"></div>' +
        '<div class="col" style="padding:0px"><input class="input-in-grid" type="text" name="' +
        row.toString() +
        '-6"></div>' +
        "</div>"
    );
  });


  //===================== 최종 요청 ====================
  $("#save_button").on("click", () => {

    // 기초정보
    fd.append('basic_id', {{basic.id}})
    fd.append('basic_name', $("#basic_name").val())
    fd.append('basic_startAt', $("#basic_startAt").val())
    fd.append('basic_endAt', $("#basic_endAt").val())

    // 계약정보
    fd.append('contract_name', $("#contract_name").val())
    fd.append('contract_joint', $("#contract_joint").val())
    fd.append('contract_method', $("#contract_method").val())
    fd.append('contract_agency', $("#contract_agency").val())
    fd.append('contract_money', $("#contract_money").val())

    // 파일명 하단에

    // 참여기술자
    fd.append("worker-length", row.toString());
    for (let i = 1; i <= row; i++) {
      for (let j = 1; j <= 6; j++)
        fd.append(
          "worker-" + i.toString() + "-" + j.toString(),
          $("input[name=" + i.toString() + "-" + j.toString() + "]").val()
        );
    }

    $.ajax({
      url: "/main/"+basic_id.toString()+"/file/",
      data: fd,
      method: "POST",
      processData: false,
      contentType: false,
      success: (response) => {
        console.log("성공");
        // 서버 응답 데이터에서 리디렉션 URL 추출
        // var redirectUrl = response.redirect_url;
        // console.log(redirectUrl)
        // 리디렉션 수행
        // window.location.href = redirectUrl;
      },
      error: (req, status, err) => {
        console.log(err);
      },
      complete: () => {
        console.log("완료");
      },
    })
  })


</script>

{% endblock %}
